<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <!-- at some point TODO this with things like google analytics or w/e -->
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <a class="logo" href="/" title="Home page">
                    <img alt="Colwyn.net site logo (a capital C in gothic font)" src="/img/logo.svg" /></img>
                </a>
                <a class="sidebar-link" href="/e/this">This</a>
                <a class="sidebar-link" href="/e/me">Me</a>
            </div>
            <div id="content">
                {{ if not .Params.homepage }}
                <div class="full-header">
                        <div class="title-holder">
                            <h1>{{ .Title }}</h1>
                        </div>
                    {{ if .Params.abstract }}
                        <div class="abstract">
                            {{ .Params.abstract }}
                        </div>
                    {{ end }}
                    <div class="tag-holder">
                        {{ $list := (.Params.tags) }}
                        {{ $len := (len $list) }}
                        {{ range $k, $v := $list }}
                        <a href="/#{{ $v }}">{{ $v }}</a>{{ if not (eq (add $k 1) $len) }},{{ end }}
                        {{ end }}
                    </div>
                    <!-- TODO: Add proper links to confidence tags and importance sections when applicable. -->
                    <div class="metadata">
                        {{ dateFormat "2 Jan 2006" .Date }} – {{ dateFormat "2 Jan 2006" .Params.modified }} <span class="spacer">•</span> {{ lower .Params.status }} <span class="spacer">•</span> certainty: {{ lower .Params.certainty }} <span class="spacer">•</span> importance: {{ lower .Params.importance }}
                    </div>
                </div>
                {{ if .Params.notoc }}
                <hr style="visibility:hidden">
                {{ else }}
                <div id="TOC">
                    <div id="toc-title">Table of Contents</div>
                    {{ .TableOfContents }}
                </div>
                {{ end }}
                {{ end }}
            {{- block "main" . }}{{- end }}
            {{ if .Params.homepage }}
                <div class="page-list">
                    {{ range $t := .Site.Taxonomies.tags.Alphabetical }}
                        <div class="tag-list">
                            <h5 id="{{ $t.Name }}" class="tag-header"><a href="#{{$t.Name}}">{{ $t.Name }}</a></h5>
                            <ul>
                                {{ range $t.Pages.ByDate }}
                                <li><a href="{{ .Permalink}}">{{ .Title }}</a>
                                {{ end }}
                            </ul>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
            </div>
        </div>
    </body>
</html>
