/*********/
/* FONTS */
/*********/

@font-face {
    font-family: "Source Serif Pro";
    src: url(/font/ssfp/SourceSerifPro-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url(/font/ssfp/SourceSerifPro-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url(/font/ssfp/SourceSerifPro-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url(/font/ssfp/SourceSerifPro-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/font/ssap/SourceSansPro-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/font/ssap/SourceSansPro-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/font/ssap/SourceSansPro-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/font/ssap/SourceSansPro-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url(/font/ibmp/IBMPlexMono-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url(/font/ibmp/IBMPlexMono-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url(/font/ibmp/IBMPlexMono-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url(/font/ibmp/IBMPlexMono-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

/***********/
/* GENERAL */
/***********/

html {
    font-family: "Source Serif Pro", "Baskerville", "Times New Roman", "Times", serif;
}

pre {
    font-family: "IBMPlexMono";
}

.content > p:first-of-type::first-line {
    font-variant: small-caps;
}

a:link {
    color: #333;
}

a:visited {
    color: #222;
}

.force-normal-text {
    font-variant: normal;
}

ol li,
ul li {
    margin: 0 0 7px 0;
    line-height: 1.55;
}

/***********/
/* SIDEBAR */
/***********/

.logo,
.logo img {
    height: 120px;
    width: 120px;
}

.sidebar {
    float: left;
    height: 100%;
    width: 150px;
    padding-top: 10px;
    padding-left: 10px;
}

#content {
    margin-top: 17px;
    margin-left: 160px;
    margin-right: 22px;
    margin-bottom: 70px;
    text-align: justify;
    hyphens: auto;
    overflow-wrap: break-word;
}

.sidebar-link {
    margin-left: 12px;
    display: block;
    font-variant: small-caps;
    text-decoration: none;
}

/**********/
/* MOBILE */
/**********/

@media only screen and (max-width: 649px) {
    .sidebar-link {
        display: none;
    }
    .sidebar {
        position: static;
    }
    #content {
        margin-left: 22px;
    }
}

/**************/
/* PARAGRAPHS */
/**************/

.container {
    max-width: 1120px;
    margin: auto;
}

p {
	margin: 0;
    line-height: 1.55;
}

p + p {
	text-indent: 2.5em;
}

/****************/
/* FRONT MATTER */
/****************/

.title-holder {
    text-align: center;
    font-size: 15pt;
    font-variant: small-caps;
}

.abstract {
    font-style: italic;
    font-size: 11.5pt;
    line-height: 1.55;
}

.tag-holder,
.metadata {
    font-style: italic;
    font-size: 11pt;
    line-height: 1.55;
}

.tag-holder {
    margin-top: 10px;
}

.metadata {
    margin-bottom: 15px;
}

span.meta-tag {
    font-style: normal;
}

span.spacer {
    padding: 0 3px;
}

/************/
/* HEADINGS */
/************/

h2 {
    font-variant: small-caps;
    text-align: right;
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 19pt;
}

h3 {
    font-variant: small-caps;
    width: 100%;
    border-bottom: 1px dotted #999;
    font-size: 16pt;
}

h4 {
    font-size: 13pt;
}

h5 {
    font-size: 12pt;
}

hr {
    margin: 17px 0 14px;
    border-top: 1px dotted black;
}

/***************/
/* BLOCKQUOTES */
/***************/

.epigraph {
	margin: 0.25em 1.25em 0;
	font-size: 0.95em;
	padding: 1em 1.25em;
}

.epigraph p:first-of-type {
    font-variant: normal;
    font-style: italic;
    margin-bottom: 5px;
}

.epigraph p:first-of-type::before,
.epigraph p:last-of-type::after {
	display: block;
	font-size: 2.5em;
	color: #898989;
}

.epigraph p:first-of-type::before {
	content: "\201C";
}

.epigraph p:last-of-type {
    text-align: right;
}

.epigraph p:last-of-type::after {
	content: "\201D";
}

/**************/
/* PRE / CODE */
/**************/

pre {
    border: 2px solid #999;
    border-radius: 3px;
    padding: 7px 15px 13px 10px;
    color: #676767;
}

code {
    border: 1px solid #a0a0a0;
    font-size: 11pt;
    padding: 1px 3px;
}

pre > code {
    border: none;
    padding: 0;
}

/*******/
/* TOC */
/*******/

#TOC {
    font-family: "Source Sans Pro", Helvetica, "Trebuchet MS", sans-serif;
    float: left;
	z-index: 11;
    font-size: 10pt;
    outline: 1px solid #aaa;
    outline-offset: -15px;
    padding: 8px 30px;
    margin: 0 15px 0 0;
    background: white;
    max-width: 300px;
    text-align: left;
}

@media (max-width: 649px) {
    #TOC {
        float: none;
        width: 100%;
        padding: 0;
        margin: 100px 0 0;
        outline-offset: 10px;
        max-width: 649px;
    }
}

#toc-title {
    padding-top: 15px;
    font-variant: small-caps;
    border-bottom: 1px solid black;
}

#TOC ul {
    list-style: none;
    padding-left: 7px;
}

#TOC ul li {
    line-height: 12pt;
    margin: 14px 0 0 0;
    font-weight: bold;
}

#TOC ul li ul li {
    line-height: 1.55;
    list-style: initial;
    margin: 0 0 0 13px;
    font-weight: normal;
}

#TOC a {
    text-decoration: none;
}

/*************/
/* TAG LISTS */
/*************/

.page-list {
    padding-top: 30px;
}

.page-list h5 {
    margin: 0;
}

.page-list h5 a {
    text-decoration: none;
    color: black;
}

.tag-list {
    vertical-align: top;
    display: inline-block;
    width: 33%;
}

.tag-header {
    font-variant: small-caps;
    font-size: 19pt;
    font-weight: bold;
    padding-top: 14px;
}

.tag-list ul {
    margin-top: 0;
}

.tag-list ul li {
    font-size: 13pt;
    padding: 0;
    margin: 0;
}

@media (max-width: 649px) {
    .tag-list {
        display: static;
        width: 100%;
        margin-bottom: 30px;
    }
}

/************/
/* ENDNOTES */
/************/

li[role="doc-endnote"] p:first-of-type::first-line {
    font-variant: normal;
}
